<div class="tarjeta pictures open">
	<div class="cabecera">
		<div class="img">
			<img class="tvsaimg-loaded" data-src="http://im.esmas.com/256/256/entretenimiento/28" src="http://im.esmas.com/256/256/entretenimiento/28" alt="">
		</div>
		<div class="equipo">
			<p class="up">Susana Sánchez Tinoco</p>
			<div class="divisor"></div>
			<p class="down">Ãlejandra Moreno Sánchez</p>
		</div>
		<a href="#" class="icono"><i class="pie-arriba"> </i></a>
	</div>
	<div class="puntaje">
		<span class="puntos">1 pt</span>
	</div>
	<div class="tarjeta-detalle" style="display: block;">
		<div class="calif">
			<ul>
				<li>
					<figure>
						<img class="tvsaimg-loaded" data-src="http://im.esmas.com/120/120/entretenimiento/1" src="http://im.esmas.com/120/120/entretenimiento/1" alt="">
						<figcaption>
							<span class="tribuna">Tribuna 1</span>
							<span class="tribuna-puntos">60</span>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img class="tvsaimg-loaded" data-src="http://im.esmas.com/120/120/entretenimiento/2" src="http://im.esmas.com/120/120/entretenimiento/2" alt="Image">
						<figcaption>
							<span class="tribuna">Tribuna 1</span>
							<span class="tribuna-puntos">20</span>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img class="tvsaimg-loaded" data-src="http://im.esmas.com/120/120/entretenimiento/3" src="http://im.esmas.com/120/120/entretenimiento/3" alt="Image">
						<figcaption>
							<span class="tribuna">Tribuna 1</span>
							<span class="tribuna-puntos">15</span>
						</figcaption>
					</figure>
				</li>
				<li>
					<div>
						<span class="digital">punto digital</span>
						<span class="numero">1</span>
					</div>
				</li>
			</ul>
			<span class="extra">Punto extra:1</span>
		</div>
	</div>
</div>