<div class="layout clearfix infinite-scrolling" id="iso" data-options="[mq_desktop=827, mq_tablet=500, mq_smartphone=220]" data-margins="[desktop=[top=24, left=24], tablet=[top=12, left=12], movil=[top=6, left=6]]" data-desktop="[items=12, vueltas=2]" data-tablet="[items=12, vueltas=2]" data-smartphone="[items=12, vueltas=2]" data-client="{LBL:gsa_client:CAPTION}" data-site="{LBL:gsa_site:CAPTION}" data-query="site:{LBL:gsa_url:CAPTION}" data-requiredfields="tipo:{LBL:gsa_tipo:CAPTION}" data-partialfields="-('{LBL:gsa_partialfields:CAPTION}')" data-autoinit="true" data-icons_vf="false">
</div>
<div class="loader loader-entretenimiento hide"></div>
<div class="btn_container" style="display: none;">
    <div class="ui-btn ui-color-primary btn-mosaico">
        <a href="#" class="ui-text-btn" id="btn-more" rel="next">{LBL:boton1_titulo:CAPTION}</a>
    </div>
</div>