<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="Expires" content="0" />
<meta http-equiv="Pragma" content="no-cache, must-revalidate, no-store" />
<meta name="generator" content="Televisa TIM" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<link rel="shortcut icon" href="http://i2.esmas.com/finalpage/favicon/favicon.ico" />
<link rel="apple-touch-icon" href="http://i2.esmas.com/finalpage/favicon/favicon_tlvsa_24.png" />
<link rel="apple-touch-icon" sizes="76x76" href="http://i2.esmas.com/finalpage/favicon/favicon_tlvsa_76.png" />
<link rel="apple-touch-icon" sizes="120x120" href="http://i2.esmas.com/finalpage/favicon/favicon_tlvsa_120.png" />
<link rel="apple-touch-icon" sizes="152x152" href="http://i2.esmas.com/finalpage/favicon/favicon_tlvsa_152.png" />
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/css/especiales/me-pongo-de-pie/entretenimiento-global.css" />
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/css/especiales/me-pongo-de-pie/preventivo/ponte-de-pie-preventivo.css" />