                <div class="jp-wrapper logo-p">
                    <a href="{LBL:url_logo:CAPTION}" class="link-logo" alt="Inicio">Inicio</a>
                </div>
                <div class="contenedor-mix">
                    <!--{LBL:mostrar_contador:CAPTION}-->
                    {NOTEMPTY:LBL:mostrar_contador:CAPTION}
                    <div class="contador">
                        <div id="countdown" data-anio="{LBL:contador_aaaa:CAPTION}" data-mes="{LBL:contador_mm:CAPTION}" data-dia="{LBL:contador_dd:CAPTION}"></div>
                    </div>
                    {EMPTY:END}
                    <div class="shares">
                        <p class="altas no-desktop">Síguenos en</p>
                        <div class="inline">
                            <a href="#" class="facebook red-social">
                                <i class="pie-facebook"></i>
                            </a>
                            <div class="div_facebook">
                                <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2F{LBL:fb_oficial:CAPTION}&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
                            </div>
                        </div>
                        <div class="inline">
                            <a href="#" class="twitter red-social">
                                <i class="pie-twitter"></i>
                            </a>
                            <div class="div_twitter">
                                <a href="https://twitter.com/{LBL:tw_user:CAPTION}" class="twitter-follow-button" data-show-count="true" data-lang="es" data-show-screen-name="false">
                                    Seguir a @PonteDePieMX
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                window.twttr = (function (d, s, id) {
                  var t, js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id; js.src= "https://platform.twitter.com/widgets.js";
                  fjs.parentNode.insertBefore(js, fjs);
                  return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
                }(document, "script", "twitter-wjs"));
                </script> 