<script type="text/javascript" src="http://i2.esmas.com/js/especiales/me-pongo-de-pie/tvsyload.js"></script>
<script src="http://i2.esmas.com/js/libs/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/js/especiales/me-pongo-de-pie/tvsa.loadimg.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/js/especiales/me-pongo-de-pie/head.load.min.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/js/especiales/me-pongo-de-pie/jquery.plugin.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/js/especiales/me-pongo-de-pie/jquery.countdown.js"></script>
<script type="text/javascript" id="libs" src="http://i2.esmas.com/js/especiales/me-pongo-de-pie/preventivo/finalpage-libs.js"></script>
<script type="text/javascript" id="libs" src="http://i2.esmas.com/js/especiales/me-pongo-de-pie/jquery.touchSwipe.min.js"></script>

<script type="text/javascript" src="http://i2.esmas.com/js/swfObject.js"></script> 
<script type="text/javascript" src="http://www.esmas.com/scripts/esmas_stats.js"></script>
<script src="http://www.google-analytics.com/ga.js" type="text/javascript"></script> 
<script type="text/javascript">doStats('esmas');</script> 
<script type="text/javascript" src="http://comentarios.esmas.com/js/comunidades.js" defer="defer"></script>
<script language="javascript" src="http://i2.esmas.com/encuestas/public/js/esmas_safe_iloader.js"></script>


<script src="http://i2.esmas.com/hf/header/headertelevisa.min.js"></script>
<script src="http://i2.esmas.com/hf/footer/footertelevisaconfig.min.js"></script>
<script type="text/javascript" id="libs" src="http://i2.esmas.com/js/especiales/me-pongo-de-pie/preventivo/ponte-de-pie-preventivo.js"></script>