        <meta charset="iso-8859-1" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <!-- Facebook / Open Graph -->
        <meta property="og:title" content="Home Entretenimiento, Televisa.com" />
        <meta property="og:site_name" content="Televisa Entretenimiento" />
        <meta property="og:url" content="http://televisa.com/entretenimiento" />
        <meta property="og:description" content="Home - Entretenimiento" />
        <meta property="og:image" content="Televisa TIM" />
        <meta property="og:type" content="website" />
        <meta property="fb:app_id" content="122079244481169" />
        <!-- Twitter -->
        <meta property="twitter:site" content="@TelevisaDotCom" />
        <meta property="twitter:title" content="Home Entretenimiento, Televisa.com" />
        <meta property="twitter:description" content="Home - Entretenimiento" />
        <meta property="twitter:image" content="Televisa TIM" />
        <!-- Google -->
        <meta itemprop="url" content="http://televisa.com/entretenimiento" />
        <meta itemprop="name" content="Home Entretenimiento, Televisa.com" />
        <meta itemprop="description" content="Home - Entretenimiento" />
        <meta itemprop="image" content="Televisa TIM" />
        <meta http-equiv="Cache-Control" content="no-store" />
        <meta http-equiv="Expires" content="0" />
        <meta http-equiv="Pragma" content="no-cache, must-revalidate, no-store" />
        <meta name="generator" content="Televisa TIM" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        <link rel="shortcut icon" href="http://i2.esmas.com/finalpage/favicon/favicon.ico" />
        <link rel="apple-touch-icon" href="http://i2.esmas.com/finalpage/favicon/favicon_tlvsa_24.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="http://i2.esmas.com/finalpage/favicon/favicon_tlvsa_76.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="http://i2.esmas.com/finalpage/favicon/favicon_tlvsa_120.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="http://i2.esmas.com/finalpage/favicon/favicon_tlvsa_152.png" />
        <link rel="stylesheet" type="text/css" href="css/entretenimiento-global.css" />
        <link rel="stylesheet" type="text/css" href="css/ponte-de-pie-preventivo.css" />
         <link rel="stylesheet" type="text/css" href="css/grid-preventivo.css" />
        <link rel="stylesheet" type="text/css" href="css/um1.css" />
        <link rel="stylesheet" type="text/css" href="css/menu-hamburger.css">
        <link rel="stylesheet" type="text/css" href="css/Ponte_de_Pie.css">