<div class="fb-like-box api_facebook" data-href="https://www.facebook.com/{LBL:fb_user:CAPTION}" data-width="300" data-height="360" data-colorscheme="dark" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false">
</div>
<div id="fb-root">
</div>