<section class="app-toi">
    <div class="box-app">
        <span>{LBL:txt_1:CAPTION}</span>
        <span class="bg-txt">{LBL:txt_2:CAPTION}</span>
        <span>{LBL:txt_3:CAPTION}</span>
        <div class="container-icons">
            <div class="icon-shop android">
                <a href="{LBL:android_url:CAPTION}" target="_blank" title="android">
                    <img src="{LBL:android_src:CAPTION}" alt="android" />
                </a>
            </div>
            <div class="icon-shop ios">
                <a href="{LBL:ios_url:CAPTION}" target="_blank" title="ios">
                    <img src="{LBL:ios_src:CAPTION}" alt="ios" />
                </a>
            </div>
        </div>
    </div>
    {NOTEMPTY:FLA:toi:ID}
    <div class="toi">
        <div id="tuOpinion"  class="tuOpinion"></div>
        <script language="javascript" type="text/javascript">
            // <![CDATA[
            var flashObj = new SWFObject("{FLA:toi:URL}", "tu_opinion", "300", "80", "9", "#000");
            flashObj.addParam("wmode", "");
            flashObj.write("tuOpinion");
            // ]]>
        </script>
    </div>
    {EMPTY:END}
</section>