<link rel="stylesheet" href="http://i2.esmas.com/smartbanner/jquery.smartbanner.css" type="text/css" />
<script src="http://i2.esmas.com/smartbanner/jquery.smartbanner.js"></script>
<script>if(/(iPad).*AppleWebKit.*Mobile.*Safari/.test(navigator.userAgent)){
	var headNode=document.getElementsByTagName("head")[0];var sbNode=document.createElement('meta');sbNode.name='apple-itunes-app';sbNode.content='app-id=382680035';headNode.appendChild(sbNode);}else if(/(iPhone|iPod).*AppleWebKit.*Mobile.*Safari/.test(navigator.userAgent)){
		var headNode=document.getElementsByTagName("head")[0];var sbNode=document.createElement('meta');sbNode.name='apple-itunes-app';sbNode.content='app-id= 370299188';headNode.appendChild(sbNode);}</script>

<script type="text/javascript">$.smartbanner({
	title:'Televisi&Atilde;&sup3;n Televisa',author:'Televisa'});</script>
<script type="text/javascript" src="http://i2.esmas.com/finalpage/ponte-de-pie-oficial/js/tvsyload.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/finalpage/ponte-de-pie-oficial/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/finalpage/ponte-de-pie-oficial/js/tvsa.loadimg.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/finalpage/ponte-de-pie-oficial/js/head.load.min.js"></script>
<script type="text/javascript" id="libs" src="http://i2.esmas.com/finalpage/ponte-de-pie-oficial/js/finalpage-libs.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/js/especiales/me-pongo-de-pie/oficial/integracion.js"></script> 


<script type="text/javascript" src="http://i2.esmas.com/js/swfObject.js"></script> 
<script type="text/javascript" src="http://www.esmas.com/scripts/esmas_stats.js"></script>
<script src="http://www.google-analytics.com/ga.js" type="text/javascript"></script> 
<script type="text/javascript">doStats('esmas');</script> 
<script type="text/javascript" src="http://comentarios.esmas.com/js/comunidades.js" defer="defer"></script>
<script language="javascript" src="http://i2.esmas.com/encuestas/public/js/esmas_safe_iloader.js"></script>