<nav class="iu-menu-hamburger-ponte-de-pie">
    <div class="centrado">
        <div class="horario-mobile">
            <a href="{LBL:horario_url:CAPTION}" title="{LBL:horario_titulo:CAPTION}">
                <i class="canal-estrellas-mobile"></i>
            </a>
            <p>{LBL:horario:CAPTION}</p>
        </div>
        <div class="logo-oficial logo-interior">
            <a href="{LBL:logo_url:CAPTION}" class="link-logo">Incio</a>
        </div>
        <div class="horario-desktop">
            <p>{LBL:horario:CAPTION}</p>
            <a href="{LBL:horario_url:CAPTION}" title="{LBL:horario_titulo:CAPTION}">
                <i class="canal-estrellas-desktop"></i>
            </a>
        </div>
        <ul class="primario">
            <li class="inicio_mobile">
                <a href="{LBL:nav1_url:CAPTION}">{LBL:nav1:CAPTION} 
                <i class="pie-menu"></i>
                <i class="pie-cerrar"></i></a>
            </li>
            <li class="active">
                <a href="{LBL:nav1_url:CAPTION}">{LBL:nav1:CAPTION}</a>
            </li>
            <li class="videos">
                <a href="{LBL:nav2_url:CAPTION}">{LBL:nav2:CAPTION}</a>
            </li>
            <li class="participantes">
                <a href="{LBL:nav3_url:CAPTION}">{LBL:nav3:CAPTION}</a>
            </li>
            <li class="tarjetas">
                <a href="{LBL:nav4_url:CAPTION}">{LBL:nav4:CAPTION}</a>
            </li>
            <li class="ver_mas">
                <i class="icono_mas" href="#">+</i>
                <i class="triangulo"></i>
                <ul class="submenu">
                    <li class="jueces">
                        <a href="{LBL:nav5_url:CAPTION}">{LBL:nav5:CAPTION}</a>
                    </li>
                    <li class="noticias">
                        <a href="{LBL:nav6_url:CAPTION}">{LBL:nav6:CAPTION}</a>
                    </li>
                    <li class="galerias">
                        <a href="{LBL:nav7_url:CAPTION}">{LBL:nav7:CAPTION}</a>
                    </li>
                </ul>
            </li>
            <li class="shares">
                <div class="inline twitter">
                    <a class="twitter red-social" href="#">
                        <i class="pie-twitter"></i>
                    </a>
                    <div class="div_twitter">
                        <a href="https://twitter.com/{LBL:tw_user:CAPTION}" class="twitter-follow-button" data-show-count="true" data-lang="es" data-show-screen-name="false">Seguir a @PonteDePieMX</a>
                    </div>
                </div>
                <div class="inline facebook">
                    <a class="facebook red-social" href="#">
                        <i class="pie-facebook"></i>
                    </a>
                    <div class="div_facebook">
                        <div class="fb-like" data-href="https://www.facebook.com/{LBL:fb_user:CAPTION}" data-width="120px" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
                    </div>
                </div>
            </li>
            <li class="shares_mobile">
                <div class="div_twitter">
                    <a href="https://twitter.com/{LBL:tw_user:CAPTION}" class="twitter-follow-button" data-show-count="false">Follow @PonteDePieMX</a>
                </div>
                <div class="div_facebook">
                    <div class="fb-like" data-href="https://www.facebook.com/{LBL:fb_user:CAPTION}" data-width="120px" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
                </div>
            </li>
        </ul>
    </div>
</nav>