<div class="timeline">
    <a class="twitter-timeline" href="{LBL:tw_url:CAPTION}" data-chrome="nofooter" data-widget-id="{LBL:tw_id:CAPTION}" data-theme="dark" width="300" height="360" data-link-color="#CFCFCF">Tweets sobre #Televisa</a>
</div>