<!-- B&aacute;sicas -->
<meta name="author" content="Televisa TIM" />
<meta charset="iso-8859-1" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1" />
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<!-- Facebook / Open Graph -->
<meta property="og:title" content="" />
<meta property="og:site_name" content="Televisa Entretenimiento" />
<meta property="og:url" content="http://televisa.com/entretenimiento" />
<meta property="og:description" content="Nota Test - Entretenimiento" />
<meta property="og:image" content="Televisa TIM" />
<meta property="og:type" content="website" />
<meta property="fb:app_id" content="122079244481169" />
<!-- Twitter -->
<meta property="twitter:site" content="@TelevisaDotCom" />
<meta property="twitter:title" content="" />
<meta property="twitter:description" content="Nota Test - Entretenimiento" />
<meta property="twitter:image" content="Televisa TIM" />
<!-- Google -->
<meta itemprop="url" content="http://televisa.com/entretenimiento" />
<meta itemprop="name" content="" />
<meta itemprop="description" content="Nota Test - Entretenimiento" />
<meta itemprop="image" content="Televisa TIM" />
<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="Expires" content="0" />
<meta http-equiv="Pragma" content="no-cache, must-revalidate, no-store" />
<meta name="generator" content="Televisa TIM" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<link rel="shortcut icon" href="http://i2.esmas.com/finalpage/favicon/favicon.ico" />
<link rel="apple-touch-icon" href="http://i2.esmas.com/finalpage/favicon/favicon_tlvsa_24.png" />
<link rel="apple-touch-icon" sizes="76x76" href="http://i2.esmas.com/finalpage/favicon/favicon_tlvsa_76.png" />
<link rel="apple-touch-icon" sizes="120x120" href="http://i2.esmas.com/finalpage/favicon/favicon_tlvsa_120.png" />
<link rel="apple-touch-icon" sizes="152x152" href="http://i2.esmas.com/finalpage/favicon/favicon_tlvsa_152.png" />
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/finalpage/ponte-de-pie-oficial/css/ponte-de-pie-oficial-global.css" />