/**SAFE::VERSUS_WG::19-06-06-17:20**/

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body,div,span,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
 margin:0;
 padding:0;
 background-color: transparent;
 border: none;
}
table {
 border-collapse:collapse;
 border-spacing:0;
}
fieldset,img {
 border:0;
}
address,caption,cite,code,dfn,em,strong,th,var { 
 font-style:normal;
 font-weight:normal;
}
ol,ul {
 list-style:none;
}
caption,th {
 text-align:left;
}
h1,h2,h3,h4,h5,h6 {
 font-size:100%;
 font-weight:normal;
}
q:before,q:after {
 content:;
}
abbr,acronym { border:0;
}
HTML {/* overflow: hidden;*/ }
/* FIN INICIALIZACI?N CROSSBROWSER */



body{
    font-family: arial;
}
form{margin-bottom: 0px;}
ul{
    padding: 0px;
    margin: 0px;    
}

a img{border: none;}
a{
    color: white;
    text-decoration: none;
}
.rad{
    width: 20px;
    float: left;
    overflow: hidden;
    margin-left: 5px;
    padding-top: 3px;
}
.rad input{
    width: 18px;
height: 16px;

}
#safe_principal_container{
    width: 300px;
    overflow: hidden;
    background: #0b3a76;
}
.safe_content_option{
    height: 110px;
    background: #eee;
    position: relative;
    transition: all 0.5s ease;
}
.safe_content_option:hover{
    background:#10c9c3;
}
.safe_content_option:hover .anchor_text{
    color: #fff
}
.safe_encuesta{
    
    display: none;
}

.safe_question SPAN{
    font-family: Fjalla One, sans-serif;
    font-size: 18px;
    color: #333333;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 5px;
    display: block;
    
    font-family: Fjalla One, sans-serif;
    color: #f1f1f1;
    margin: 5px 22px;
}



.safe_img{
    width: 300px;
    height: 110px;
    display: block;
}
.safe_option{
    height: 20px;
    position: relative;
    color: #FFFFFF;
    padding: 2px 20px 0px 0px;
    font-weight: normal;
    font-size: 14px;
    margin-top: -65px;
    margin-left: 13px;
    cursor: pointer;
    cursor: hand;
}
.safe_option span{
    background-repeat:repeat;
    height: 20px;
    display: inline-block;
}
.anchor_text{
    margin-right: 10px;
    margin-left: 0px;
    padding-top: 2px;
    display:block; 
    float: left;
    color: #3f3f3f;
    font-family: Source Sans Pro, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.safe_result{
    background-repeat:repeat;
    position: relative;    
    height: 20px;
    margin-top: -0px;
    margin-top: 0px;
    overflow: hidden;
    width: 0px;
}



.safe_footer{
    height: 30px;
    width: 298px;  
    font-family: Source Sans Pro, sans-serif;
    text-align: right;
}
.safe_footer span{
    text-align: left;
    font-size: 11px;
    float: left;
    line-height: 2em;
}
.safe_img_votar{
    width: 150px;
    height: 40px;
    float: right;
    cursor: pointer;
    font-size: 11px;
    padding-right: 0;
    color: #3C3C3C !important; 
    background-image: url(http://i2.esmas.com/img/especiales/me-pongo-de-pie/btn_votar.png) !important;
    background-position: 0 -40px;
    margin-bottom: 10px;
}
.safe_img_votar:hover{
    background-position: 0 0;
}
.preguntaBack{
    position: absolute;
    z-index: 5;
    display: none;
}
#safe_tx{
    width: 150px;
    color: #fff; 
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    font-family: Source Sans Pro, sans-serif;
} 

#safe_total_votes{
    padding-top: 0; 
    display: block; 
    color: #fff; 
    width: calc(100% - 20px);
    line-height: 1em;
    text-align: right;
    margin-right: 16px;
    margin-bottom: 5px;
    width: -webkit-calc(100% - 20px);
    font-family: Fjalla One, sans-serif;
    font-size: 17px;
} 

.safe_percent{ 
    width: 50px;
    background-color: #2f2f2f;
    color: #FFFFFF;
    padding-top: 2px;
    font-size: 14px;
    /*margin-top: -2px;*/
    float: left;
    text-align: center;
    height: 19px; 
}
.safe_percent SPAN{
    display: block;
}
.safe_bar_0{
    width: 250px;
    height: 21px;
    float: left;
    /*margin-top: -2px;*/
    background: #c9104d;
}
.safe_bar_1{
    width: 250px;
    height: 21px;
    float: left;
    /*margin-top: -2px;*/
    background: #c9104d;
}

.safe_bar_2{
    width: 250px;
    height: 21px;
    background-image:url(http://polls.esmas.com/resources/img/frontend/versuswg/alpha75respuesta3.png);
    float: left;
    /*margin-top: -2px;*/
}

.recent a {color: #3C3C3C !important;}
.recent{
   font-size: 11px;
   width: 300px; 
   font-family: arial;
   overflow: hidden;
   display: none;
}

.recent li{
    padding: 2px 0px 2px 5px;
    color: #3C3C3C;
}
li.recent1{
    background-color: #e4e4e4;
    color: #3C3C3C;
    font-size: 11px;
}
.recent2{
    background-color: #cdcdcd;
    color: #3C3C3C;
    font-size: 11px;
}

.safe_other_title{
    color: #fff;
    padding-left: 6px;
    padding-top: 8px;
    padding-bottom: 7px;
}








/************    Para Nota Terminal   ***********************/
#nt_safe_principal_container{ 
    width: 600px;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 0px;
    }
.nt_preguntaBack{ 
    position: absolute;
    z-index: 5;
}
.nt_preguntaBack img{ width: 600px; position: inherit; }
.nt_safe_img{
    width: 600px;
    height: 220px;
}
.nt_safe_content_option{
    padding: 0px;
    margin: 0px;
    height: 220px;
    width: 600px;
    overflow: hidden;
}
.nt_safe_footer{
    height: 30px;
    background-color: #FFF;
    border-left: 1px solid #CCCCCC; 
    border-right: 1px solid #CCCCCC; 
    border-bottom: 1px solid #CCCCCC; 
}
.nt_safe_footer span{
    text-align: left;
    font-size: 11px;
    float: left;
    line-height: 2em;
    color: #534d7f !important; 
}
.nt_safe_footer img{height: 18px;}

.nt_result_box{
    width: 600px;
    float: left;
}

/***** recents NT *****/
.nt_recent{ 
   width: 288px; 
   border: 1px solid #CCCCCC; 
   font-family: arial; 
   overflow: hidden; 
} 
.nt_safe_other_title{
    background-color: #F7F7F7;
    color: #534D7F;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.nt_recent1{
    background-color: #F7F7F7;
    padding: 5px;
}
.nt_recent1 a{
    color: #000;
    font-size: 13px;
    margin: 5px 10px 5px 10px;
}
.nt_recent2{
    background-color: #fff;
    padding: 5px;
}
.nt_recent2 a{
    color: #000;
    font-size: 13px;
    margin: 5px 10px 5px 10px;
}